<div class='quote'>
	<h3> <small>cat <span class='slogan'>splurty</span>	 No. <%= @quote.unique_tag %>:</small>  </h3>
	<h3 class="quote-body">&ldquo;<%= @quote.saying %>&rdquo;</h3>
<p class="quote-attr"><%= @quote.author %></p>
</div>