<div class="col-xs-10 col-xs-offset-1">
<h2 class='head'>About cat <small><span class='slogan'>splurty</span></small></h2>

  <p class='intro'>
  	
    Catsplurty was concocted with High Silliness by the human slave of HRH etc. (see footer).

  </p>

<div class="row">  <!-- format for image and copy side by sisde --> 
 <div class="col-xs-10 col-sm-4">
    <%= image_tag 'snorgeye.jpg', :class => 'img-responsive img pull-right' %>
  </div>

  <div class="col-xs-10 col-sm-7" >
    
    <h4 class="head">HRH Sheikh Attabiyah Cuddlebutt Snorglesworthy Snugglemeister</h4>
 
    <p>
      HRH etc. is a tabbycat residing indoors in comfort with his human in Oakland, California. 
      His human, Nan Davenport is an artistic developing web developer who devotedly serves him kibble every morning per his request (see catsplurty no.#). She is avidly working on deepening her coding skills so she can afford the kibble (which is not cheap). She also wants to buy the salmon and eat it herself. And not least, because coding things is so satisfying&mdash;who knows maybe she'll make more things that reinforce the Rule of Cats Over All.
    </p>
  </div> 
</div>

<div class='row'>  
  <div class="col-xs-10 col-sm-4">
    <%= image_tag 'hisHuman.jpg', :class => 'img-responsive img pull-right' %>
  </div>

  <div class="col-xs-10 col-sm-7" >
    
    <h4 class="head">Nan Davenport</h4>
 
    <p class='para-last'>
     Always obediant servant to HRH etc.
    </p>
  </div> 
</div>
</div>


