<div class='quote'>
	<h2 class> <small>catSplurty No. <%= @quote.id %></small>  </h2>
	<h3 class="quote-body">&ldquo;<%= @quote.saying %>&rdquo;</h3>
<p class="quote-attr pull-right"><%= @quote.author %></p>
</div>

