html{
	position: relative;
  min-height: 100%;
	}
body{
	  /* Margin bottom by footer height */
  margin-bottom: 60px;
	}

.footer{
	font-family: Roboto Slab;
	font-size: .8em;
	font-weight: 200;
	letter-spacing: .04em;
	color: #fff;
	position: absolute;
  bottom: 0;
  width: 100%;
  // padding-top: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #6896a2;
}

.footer a{
	color: #fff;
	font-size: 2em;
	padding: 2px;
	border-bottom: 1px dotted #fff;
	// margin-bottom: 20px;
}

.footer a:hover{
	color: #a7bab9;
	font-size: 2.5em;
	text-decoration: none;
	border: none;
}

.footer-blurb{
	font-family: Roboto Condensed;
	letter-spacing: .12em;
	font-size: 1em;
	color: #d6efed;
	text-align: right;
	
}


