// @font-face {
//   font-family: 'Lobster';
//   src:url('http://fonts.googleapis.com/css?family=Lobster');
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Roboto Slab';
//   src:url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
//   font-weight: 400;
// }
html{
	font-size: 16px;
	}

body{
	font-size: 100%;
	font-family: Roboto Condensed, sans-serif;
	}

header {
  border-top: 8px solid #6896a2;
}

h1, h2, h3, h4, h5{
	font-family: Roboto Slab, serif;
} 
//why  doesn't h2 on about inherit this?


hr{
	border:1px dotted #a7bab9;
}

// img{
// 	border: 8px solid #a7bab9;
// }
//why doesn't this work

label{
	font-family: Roboto Condensed, sans-serif;
}



small{
	font-family: Roboto Condensed, sans-serif;
}



a:hover, a:active, a:focus{
	color: #a7bab9;
	font-size: 200%;
	text-decoration: none;
	border: none;
}

.row{
	margin-top:20px;
}

.img{
	border: 8px solid #6896a2;
	border-top: none;
	border-bottom: none;
	}

.alert-danger{
	z-index:1000;
}

.clear{
  clear:both;
}
.clear:after{
  content:" ";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}

.head{
	font-family: Roboto Slab, serif;
} 

.intro{
	padding-bottom:20px;
}

.modal-header>h2{
	font-family: Roboto Slab, serif;
	color: #6896a2;
}

.btn-primary-blk{
	background: #000;
	font-family: Roboto Slab, serif;
	color: #fff;
}

.modal-footer input:hover{
	background: #000;
	font-family: Roboto Slab, serif;
	color: #a7bab9;
	text-decoration: none;
}

.links{
		padding-top:20px;
}	

.links a {
	color:#6896a2;
	// font-family: Roboto Slab;
	// font-weight: 700;
	font-family: Roboto Condensed, sans-serif;
	letter-spacing: .18em;
	font-size: 1.2em;
	padding:0 20px;
	border-right: 1px dotted #a7bab9;
}	

.links a:last-child {
	border: none;
}	

.links a:hover{
	color: #a7bab9;
	font-size: 125%;
	text-decoration: none;
	border: none;
}


.logo-kitty{
	margin-top: 8px;
	  transform: rotate(-11deg); 
   -ms-transform: rotate(-11deg); /* IE 9 */
 -webkit-transform: rotate(-11deg); 
	  text-decoration: none;
	  border: none;
	  overflow: visible;
}

.quote{
	width:90%;
	margin: 2px auto;
}

.quote, .para-last{
	margin-bottom: 80px;
	//more than the footer so footer won't sit on top of quote
}

.quote-body{
	font-family: Roboto Slab, Georgia, serif;
	font-size: 2em;
	font-weight: bold;
	color:#6896a2;
	hanging-punctuation: first;
	//from css tricks
}

// .quote-body::before{
// 	content:'\0092';
// }
// .qote-body::after{
// 	content:'\0093';
// }


.quote-attr{
	font-family: Roboto Slab, Georgia, serif;
	font-size: 1em;
	font-weight: 400;
	padding-left: .75em;

	// text-align: right;
}
.slogan{
	font-family: Lobster, serif;
	font-size: 1.6em;
	letter-spacing:.04em;
	color:#a7bab9;
	padding-top: 20px;
}

@media (max-width: 750px) {

body{
	margin-bottom: 120px;
}
.quote, .para-last{
		margin-bottom: 140px;
		//more than the footer so footer won't sit on top of quote
}

.footer{
  	height: 120px;
  	background-color: #6896a2;
}
  .footer-blurb {
    text-align: left;
  }

  .links a{
  	border-bottom: 1px dotted #a7bab9;
  	border-right:none;
  }
  .links a:last-child {
	border-bottom: 1px dotted #a7bab9;
	}	
	.logo {
		margin-bottom: 10px;
	}
  	
}